#container {
    background-color: rgb(10, 10, 10);
    overflow: auto;
}

.square {
    height: 400px;
    background-clip: border-box;
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
    cursor: pointer;
}

.square-unused {
    height: 400px;
    background-clip: border-box;
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
}

#title{
    height: 300px;
    background-color: black;
}