<section id="container" class="min-h-screen overflow-x-hidden">
    <app-audio-source-dialog *ngIf="dialogOpen" (closed)="dialogOpen = false"></app-audio-source-dialog>
    <header class="text-white">
        <div id="title">
        </div>
    </header>

    <div class="text-center py-1 text-sm text-white" *ngIf="captureStarted">
        Audio source active ·
        <a href="#" class="text-gray-600" (click)="$event.preventDefault(); dialogOpen = true">Audio settings</a>
    </div>

    <div class="grid grid-cols-3">
        <img class="h-full w-full aspect-[4/3] object-cover hover:opacity-90 cursor-pointer"
            src="assets/visualization-images/cubes.png" (click)="onVisualizationClick('cubes')" />
        <img class="h-full w-full aspect-[4/3] object-cover hover:opacity-90 cursor-pointer"
            src="assets/visualization-images/basic-color-wave.png" (click)="onVisualizationClick('basic-color-wave')" />
        <img class="h-full w-full aspect-[4/3] object-cover hover:opacity-90 cursor-pointer"
            src="assets/visualization-images/coming-soon.png" />
    </div>
</section>