.square {
    height: 400px;
    background-clip: border-box;
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
    cursor: pointer;
}

.square-unused {
    height: 400px;
    background-clip: border-box;
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
}

.title {
    max-width: 25%;
}