<div id="container">
    <div id="title" class="d-flex flex-column justify-content-center">
    </div>

    <div class="text-center py-2" *ngIf="!captureStarted">
        <button class="btn btn-primary" (click)="startCapture()">Capture system audio</button>
        <div class="text-danger mt-1" *ngIf="captureError">{{ captureError }}</div>
        <div class="text-secondary small mt-1">Pick a screen or tab and enable "Share system audio".</div>
    </div>

    <div class="d-flex justify-content-evenly d-flex">
        <div class="square flex-fill" [style.background-image]="'url(assets/visualization-images/cubes.png)'" (click)="onVisualizationClick('cubes')"></div>
        <div class="square flex-fill" [style.background-image]="'url(assets/visualization-images/basic-color-wave.png)'" (click)="onVisualizationClick('basic-color-wave')"></div>
        <div class="square-unused flex-fill" [style.background-image]="'url(assets/visualization-images/coming-soon.png)'"></div>
    </div>
    <div class="d-flex justify-content-evenly d-flex">
        <div class="square-unused flex-fill" [style.background-color]="'black'"></div>
        <div class="square-unused flex-fill" [style.background-color]="'rgb(10, 10, 10)'"></div>
        <div class="square-unused flex-fill" [style.background-color]="'black'"></div>
    </div>
    <div class="d-flex justify-content-evenly d-flex">
        <div class="square-unused flex-fill" [style.background-color]="'rgb(10, 10, 10)'"></div>
        <div class="square-unused flex-fill" [style.background-color]="'black'"></div>
        <div class="square-unused flex-fill" [style.background-color]="'rgb(10, 10, 10)'"></div>
    </div>
</div>
